@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/*カラー*/
a {
  color: #26bec7; }
  a:hover {
    color: #007D7D; }

.idx {
  color: #007546; }

.pink {
  color: #ff5566; }

/*フォントファミリー*/
.chibimaru, body {
  font-family: "tbchibirgothicplusk-pro"; }

.gf1 {
  font-family: 'Montserrat Alternates', sans-serif; }

/*フォントサイズ*/
.f10 {
  font-size: 10px !important; }

.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.f18 {
  font-size: 18px !important; }

.f20 {
  font-size: 20px !important; }

.bold {
  font-weight: bold !important; }

.normal {
  font-weight: normal !important; }

.red {
  color: #F06; }

/*テキスト揃え*/
.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

/*マージン*/
.margin10 {
  margin: 10px !important; }

.margin0_10 {
  margin: 0 10px !important; }

.margin10_0 {
  margin: 10px 0 !important; }

.margin0 {
  margin: 0 !important; }

/*パディング*/
.padding30 {
  padding: 30px !important; }

.padding20 {
  padding: 20px !important; }

.padding15 {
  padding: 15px !important; }

.padding10 {
  padding: 10px !important; }

.padding5 {
  padding: 5px !important; }

.padding0 {
  padding: 0 !important; }

.padding0_10 {
  padding: 0 10px !important; }

.padding10_0 {
  padding: 10px 0 !important; }

.padding0_5 {
  padding: 0 5px !important; }

html {
  overflow-y: scroll; }

html, body, #wrapper {
  height: 100%; }

body > #wrapper {
  height: auto; }

body {
  font-size: 14px;
  line-height: 1.5em;
  position: relative; }
  @media (max-width: 480px) and (min-width: 321px) {
    body {
      font-size: 13px; } }
  @media (max-width: 320px) {
    body {
      font-size: 11px; } }
  body:before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../image/pastelflags.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11; }

#wrapper {
  min-height: 100%;
  position: relative; }

#hiddenWin {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 140, 200, 0.5);
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 100; }

header.site_header {
  height: auto;
  position: relative; }
  body.home header.site_header {
    height: 100vh; }
    body.home header.site_header:before {
      content: "";
      display: block;
      width: 100%;
      height: 200px;
      background-image: url(../image/svg/titleback.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center top;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
  header.site_header .siteTitle {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3em 0 1.5em;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 10; }
    header.site_header .siteTitle span {
      display: block;
      width: 60px;
      height: 80px;
      margin: 0 auto;
      background-image: url(../image/svg/emblem_2.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
    header.site_header .siteTitle h1 {
      width: 400px;
      line-height: 40px;
      margin: 0 auto;
      color: #3C898A;
      font-size: 25px;
      font-weight: 800;
      text-align: left;
      position: relative; }
      @media (max-width: 767px) {
        header.site_header .siteTitle h1 {
          width: 95%; } }
      header.site_header .siteTitle h1 a {
        color: #3C898A;
        text-decoration: none; }
        header.site_header .siteTitle h1 a:hover {
          text-decoration: underline; }
    header.site_header .siteTitle .catch {
      margin: 0 auto;
      max-width: 400px;
      font-size: 14px; }
  header.site_header .fixedmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    line-height: 40px;
    background: #fff;
    position: relative;
    z-index: 10; }
    header.site_header .fixedmenu.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0; }
    body.home header.site_header .fixedmenu {
      position: absolute;
      top: inherit;
      bottom: 0;
      left: 0; }
      body.home header.site_header .fixedmenu.fixed {
        position: fixed;
        top: 0;
        bottom: inherit; }
    header.site_header .fixedmenu .fixed_logo a {
      display: block;
      line-height: 40px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 10px;
      font-size: 16px; }
    header.site_header .fixedmenu #mainMenu {
      margin: 0; }
      @media (max-width: 767px) {
        header.site_header .fixedmenu #mainMenu {
          display: none;
          margin: 0 auto; } }
      header.site_header .fixedmenu #mainMenu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0; }
        header.site_header .fixedmenu #mainMenu ul li a {
          display: block;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          line-height: 40px;
          padding: 0 10px;
          text-align: center;
          font-size: 16px;
          background-color: #fff; }
          @media (max-width: 767px) {
            header.site_header .fixedmenu #mainMenu ul li a {
              line-height: 1.4em;
              width: auto; } }
    header.site_header .fixedmenu .sp_btn {
      width: 40px;
      margin-left: auto;
      text-align: center;
      background-color: #fff; }

#main {
  padding-top: 10vh;
  padding-bottom: 200px; }

footer {
  width: 100%;
  height: 180px;
  text-align: center;
  position: absolute;
  bottom: 0; }
  footer .bottom {
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0 5px;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 0; }
    footer .bottom address {
      margin: 0; }

h2 {
  line-height: 35px;
  padding: 0 5px;
  margin: 0 0 10px; }

h3 {
  line-height: 35px;
  padding: 0 5px;
  margin: 0 0 10px;
  font-size: 2em; }

#menu-menu-1 {
  display: table;
  table-layout: fixed;
  width: 100%; }
  #menu-menu-1 li {
    display: table-cell;
    list-style-type: none; }
    #menu-menu-1 li a {
      display: block;
      text-align: center; }

.img_sitemain {
  width: 100%;
  height: calc( 100vh - 40px);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*
    img{
        height: auto;
        @media (max-width: 767px){
            width: auto;
            height: 100%;
        }
    }
    */ }
  .img_sitemain:after {
    content: "";
    display: block;
    width: 800px;
    height: 120px;
    background-image: url(../image/top_cloud_rb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    bottom: 0;
    right: 0; }

.row.toppage_info {
  margin-bottom: 60px; }

.row.recruitment {
  margin-bottom: 60px; }

.postlist li {
  margin-bottom: 2em; }
  .postlist li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .postlist li a span.itemimg {
      display: block;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .postlist li a h3.post-title {
      width: calc( 100% - 80px);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 10px; }

.main_pic {
  width: 100%;
  height: 500px; }
  .main_pic .inner_img {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
