@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/*カラー*/
a {
  color: #26bec7; }
  a:hover {
    color: #007D7D; }

.pink {
  color: #ff5566; }

/*フォントファミリー*/
.chibimaru, body {
  font-family: "tbchibirgothicplusk-pro"; }

.gf1, .img_top span {
  font-family: 'Montserrat Alternates', sans-serif; }

/*フォントサイズ*/
.f10 {
  font-size: 10px !important; }

.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.f18 {
  font-size: 18px !important; }

.f20 {
  font-size: 20px !important; }

.bold {
  font-weight: bold !important; }

.normal {
  font-weight: normal !important; }

.red {
  color: #F06; }

/*テキスト揃え*/
.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

/*マージン*/
.margin10 {
  margin: 10px !important; }

.margin0_10 {
  margin: 0 10px !important; }

.margin10_0 {
  margin: 10px 0 !important; }

.margin0 {
  margin: 0 !important; }

/*パディング*/
.padding30 {
  padding: 30px !important; }

.padding20 {
  padding: 20px !important; }

.padding15 {
  padding: 15px !important; }

.padding10 {
  padding: 10px !important; }

.padding5 {
  padding: 5px !important; }

.padding0 {
  padding: 0 !important; }

.padding0_10 {
  padding: 0 10px !important; }

.padding10_0 {
  padding: 10px 0 !important; }

.padding0_5 {
  padding: 0 5px !important; }

html, body, #wrapper {
  height: 100%; }

html {
  overflow-y: scroll; }

body > #wrapper {
  height: auto; }

#wrapper {
  width: 100%;
  position: relative; }

body {
  font-size: 14px;
  line-height: 1.5em;
  position: relative; }
  @media (max-width: 480px) and (min-width: 321px) {
    body {
      font-size: 13px; } }
  @media (max-width: 320px) {
    body {
      font-size: 11px; } }
  body:before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../image/pastelflags.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; }

#contents {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 180px;
  padding-left: 300px;
  position: relative; }

footer {
  width: 100%;
  height: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 300px;
  background: #FFEEF0;
  position: absolute;
  bottom: 0; }
  footer .bottom {
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center; }
    footer .bottom p {
      margin: 0; }
    footer .bottom address {
      margin: 0; }

header {
  /*
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    */ }
  header .siteTitle {
    width: 300px;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 0 0;
    margin-left: 500px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    /*
        span{
            display: block;
            width: 60px;
            height: 80px;
            margin: 0 auto;
            background: {
                image: url(../image/svg/emblem_2.svg);
                repeat: no-repeat;
                position: center center;
                size: contain;
            }
        }
        */ }
    header .siteTitle h1 {
      line-height: 40px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0;
      margin: 0;
      position: relative; }
      header .siteTitle h1 a {
        display: block;
        width: 300px;
        height: 0;
        padding-top: 200px;
        line-height: 200px;
        overflow: hidden;
        background-image: url(../image/svg/flag.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin: 0 auto; }

#hiddenWin {
  display: block;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 5;
  /*左上雲
    &:before{
        content: "";
        display: block;
        width: 500px;
        height: 200px;
        background: {
            image: url(../image/svg/titleback.svg);
            repeat: no-repeat;
            size: contain;
            position: left top;
        }
        position: absolute;
        top: 0;
        right: -200px;
    }
    */ }
  #hiddenWin #mainMenu {
    width: 300px;
    margin-left: 500px; }
    #hiddenWin #mainMenu ul {
      margin: 0; }
      #hiddenWin #mainMenu ul li {
        padding-left: 80px;
        position: relative; }
        #hiddenWin #mainMenu ul li::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          left: 43px; }
        #hiddenWin #mainMenu ul li:nth-child(1)::before {
          background-image: url(../image/svg/ico_green1.svg); }
        #hiddenWin #mainMenu ul li:nth-child(2)::before {
          background-image: url(../image/svg/ico_ylw.svg); }
        #hiddenWin #mainMenu ul li:nth-child(3)::before {
          background-image: url(../image/svg/ico_pink.svg); }
        #hiddenWin #mainMenu ul li:nth-child(4)::before {
          background-image: url(../image/svg/ico_blu.svg); }
        #hiddenWin #mainMenu ul li:nth-child(5)::before {
          background-image: url(../image/svg/ico_orng.svg); }
        #hiddenWin #mainMenu ul li a {
          display: block;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          line-height: 40px;
          padding: 0 10px 0 0;
          text-align: left;
          font-size: 16px; }
          @media (max-width: 767px) {
            #hiddenWin #mainMenu ul li a {
              line-height: 1.4em;
              width: auto; } }

.fixedmenu {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: right;
  position: fixed;
  right: -8px;
  top: 30px;
  z-index: 5; }
  .fixedmenu a {
    display: block;
    width: 120px;
    height: 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 0 0;
    line-height: 33px;
    font-size: 2em;
    text-align: center;
    background-color: #FFE473;
    border-radius: 60px;
    color: #1F3134;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }

.img_top {
  width: 100%;
  height: 100vh;
  margin: 0 auto 8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative; }
  .img_top::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); }
  .img_top span {
    display: inline-block;
    line-height: 33px;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 3%;
    bottom: 5%; }
  .img_top:after {
    content: "";
    display: block;
    width: 800px;
    height: 120px;
    background-image: url(../image/top_cloud_rb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    bottom: 0;
    right: 0; }

.catch p {
  line-height: 45px;
  padding: 5px 15px;
  margin: 0 auto 100px;
  font-size: 20px; }

#main {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 200px; }

.idx {
  padding: 0 5px;
  margin: 0 0 2em;
  color: #1F3134;
  text-align: center; }
  .idx span {
    display: inline-block;
    line-height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 15px 20px;
    position: relative; }
    .idx span::after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      background-image: url(../image/svg/idx_underbar.svg);
      background-repeat: repeat-x;
      background-position: left top;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: 0; }

h2 {
  line-height: 35px;
  padding: 0 5px;
  margin: 0 0 10px; }

h3 {
  line-height: 35px;
  padding: 0 5px;
  margin: 0 0 10px;
  font-size: 2em; }

#menu-menu-1 {
  display: table;
  table-layout: fixed;
  width: 100%; }
  #menu-menu-1 li {
    display: table-cell;
    list-style-type: none; }
    #menu-menu-1 li a {
      display: block;
      text-align: center; }

#topInfo {
  margin-bottom: 200px; }
  #topInfo .toplist li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #topInfo .toplist li a span {
      display: inline-block;
      font-size: 14px; }

#topAbout {
  margin-bottom: 200px; }
  #topAbout h2 {
    margin-bottom: 40px;
    text-align: center; }
    #topAbout h2 span {
      display: inline-block;
      margin: 0 auto;
      line-height: 75px;
      color: #3B8586;
      text-align: left;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 10px;
      padding-left: 130px;
      font-size: 1.5em;
      position: relative; }
      #topAbout h2 span::before {
        content: "";
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../image/svg/emblem_classic.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: -30px; }
  #topAbout img {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  #topAbout .desc {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 10px 0 0;
    font-size: 16px;
    line-height: 2.1em;
    color: #999; }

#recruit {
  margin-bottom: 200px; }
  #recruit h2 {
    margin-bottom: 1em; }
  #recruit p {
    margin-bottom: 1em; }
  #recruit ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #recruit ul li {
      width: 33.33%; }
      #recruit ul li .inner {
        height: 300px; }
      #recruit ul li:nth-child(1) .inner {
        background: #FFE473; }
      #recruit ul li:nth-child(2) .inner {
        background: #C6E5D9; }
      #recruit ul li:nth-child(3) .inner {
        background: #FFEEF0; }

#instafeed {
  margin: 0 auto 200px; }

.content {
  padding-top: 200px; }

.postlist li {
  margin-bottom: 2em; }
  .postlist li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .postlist li a span.itemimg {
      display: block;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .postlist li a h3.post-title {
      width: calc( 100% - 80px);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 10px; }

.main_pic {
  width: 100%;
  height: 500px; }
  .main_pic .inner_img {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
