@charset "utf-8";
@import "extend.scss";

html{
    overflow-y: scroll;
}

html, body, #wrapper{
    height: 100%;
}

body > #wrapper{
    height: auto;
}

body{
    @extend .chibimaru;
    line-height: 1.5em;
    position: relative;
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 30px;
        background: {
            image: url(#{$imgPath}pastelflags.png);
            repeat: repeat-x;
            position: 0 0;
        }
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
    }
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#hiddenWin{
    display: block;
    width: 100%;
    height: 100%;
    background: {
        color: rgba(100,140,200,.5);
    }
    transition: all ease .4s;
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 100;
}

header.site_header{
    height: auto;
    position: relative;
    body.home &{
        height: 100vh;
        &:before, &:after{
            content: "";
            display: block;
            position: absolute;
            background: {
                repeat: no-repeat;
                size: contain;
            }
        }
        &:before{
            width: 100%;
            height: 35%;
            /*
            background: {
                image: url(#{$imgPath}top_cloud_lt.png);
                position: left top;
            }
            */
            top: 0;
            left: 0;
            z-index: 1;
        }
        &:after{
            width: 800px;
            height: 120px;
            background: {
                image: url(#{$imgPath}top_cloud_rb.png);
                position: right bottom;
            }
            bottom: 0;
            right: 0;
        }
    }
    .siteTitle{
        display: flex;
        height: 100px;
        box-sizing: border-box;
        padding: 3em 0 1.5em;
        background: {
            color: rgba(255,255,255,1);
        }
        position: relative;
        z-index: 10;
        h1{
            line-height: 40px;
            width: 380px;
            margin: 0 0 0 5%;
            padding-left: 65px;
            //color: #007546;
            color: #3C898A;
            font-size: 25px;
            font-weight: 800;
            text-align: left;
            position: relative;
            @media (max-width: 767px){
                width: 95%;
            }
            span{
                display: inline-block;
                width: 60px;
                height: 80px;
                background: {
                    image: url(#{$imgPath}svg/emblem_2.svg);
                    repeat: no-repeat;
                    position: center center;
                    size: contain;
                }
                position: absolute;
                top: -50%;
                left: 0;
            }
            a{
                //color: #007546;
                color: #3C898A;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .catch{
            margin: 0 0 0 5%;
            max-width: 400px;
            font-size: 14px;
        }
    }
    
    .mainMenu_wrap{
        display: flex;
        width: 100%;
        line-height: 40px;
        position: relative;
        z-index: 10;
        body.home &{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        #mainMenu{
            //margin-top: -3em;
            margin: 0 auto;
            @media (max-width: 767px){
                display: none;
                margin: 0 auto;
            }
            ul{
                display: flex;
                justify-content: space-between;
                margin: 0;
                li{
                    a{
                        display: block;
                        width: 10em;
                        line-height: 40px;
                        padding: 0 7%;
                        text-align: center;
                        font-size: 16px;
                        background: {
                            color: #fff;
                        }
                        @media (max-width: 767px){
                            line-height: 1.4em;
                            width: auto;
                        }
                    }
                }
            }
        }
        
        .sp_btn{
            width: 40px;
            margin-left: auto;
            text-align: center;
            background: {
                color: #fff;
            }
        }
    }
}

#main{
    padding-top: 10vh;
    padding-bottom: 200px;
}

footer{
    width: 100%;
    height: 180px;
    text-align: center;
    position: absolute;
    bottom: 0;
    .bottom{
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 0 5px;
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        address{
            margin: 0;
        }
    }
}

h2{
    line-height: 35px;
    padding: 0 5px;
    margin: 0 0 10px;
}

h3{
    line-height: 35px;
    padding: 0 5px;
    margin: 0 0 10px;
    font: {
        size: 2em;
    }
}

#menu-menu-1{
    display: table;
    table-layout: fixed;
    width: 100%;
    li{
        display: table-cell;
        list-style-type: none;
        a{
            display: block;
            text-align: center;
        }
    }
}

.img_sitemain{
    //max-width: 1102px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    box-sizing: border-box;
    background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
    }
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /*
    img{
        height: auto;
        @media (max-width: 767px){
            width: auto;
            height: 100%;
        }
    }
    */
    h2{
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .toppage_prof{
        box-sizing: border-box;
        line-height: 1.5em;
        padding-bottom: 1em;
        color: #fff;
        text-align: right;
        position: absolute;
        bottom: 0;
        h2, .text{
            /*
            filter:
                dropshadow(color=#000000,offX= 0,offY=-1)
                dropshadow(color=#000000,offX= 1,offY= 0)
                dropshadow(color=#000000,offX= 0,offY= 1)
                dropshadow(color=#000000,offX=-1,offY= 0);
            
            -webkit-text-stroke-color: #000;
            -webkit-text-stroke-width: 1px;

            text-shadow: 
                black 1px 1px 0px,
                black -1px 1px 0px,
                black 1px -1px 0px,
                black -1px -1px 0px;
            */
        }
    }
}


.row.toppage_info{
    margin-bottom: 60px;
}

.row.recruitment{
    margin-bottom: 60px;
}

.postlist{//archive.php
    li{
        a{
            display: block;
            span.itemimg{
                display: block;
                width: 80px;
                height: 80px;
                background: {
                    repeat: no-repeat;
                    position: center center;
                    size: cover;
                }
            }
        }
    }
}

.main_pic{
    width: 100%;
    height: 500px;
    .inner_img{
        width: 100%;
        height: 500px;
        background: {
            repeat: no-repeat;
            position: center center;
            size: contain;
        }
    }
}