@charset "utf-8";

$imgPath: '../image/';

//clearfix
$supportIE: true; // IE非対応の場合 false
.clearfix{
    @if $supportIE{
        *zoom: 1;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

/*カラー*/
a{
    color: #26bec7;
    &:hover{
        color: #007D7D;
    }
}
.idx{
    color: #007546;
}
.pink{
    color: #ff5566;
}

/*フォントファミリー*/
.chibimaru{
    font-family: "tbchibirgothicplusk-pro";
}

/*フォントサイズ*/
.f10{
     font-size:10px !important;
}
.f12{
     font-size:12px !important;
}
.f14{
     font-size:14px !important;
}
.f16{
     font-size:16px !important;
}
.f18{
     font-size:18px !important;
}
.f20{
     font-size:20px !important;
}
.bold{
     font-weight:bold !important;
}
.normal{
     font-weight:normal !important;
}
.red{
	color:#F06;
}

/*テキスト揃え*/
.center{
     text-align:center;
}
.right{
     text-align:right;
}
.left{
     text-align:left;
}


/*マージン*/
.margin10{
     margin:10px !important;
}
.margin0_10{
     margin:0 10px !important;
}
.margin10_0{
     margin:10px 0 !important;
}
.margin0{
     margin:0 !important;
}

/*パディング*/
.padding30{
	padding:30px !important;
}
.padding20{
	padding:20px !important;
}
.padding15{
	padding:15px !important;
}
.padding10{
	padding:10px !important;
}
.padding5{
	padding:5px !important;
}
.padding0{
	padding:0 !important;
}
.padding0_10{
	padding:0 10px !important;
}
.padding10_0{
	padding:10px 0 !important;
}
.padding0_5{
	padding:0 5px !important;
}
